<!DOCTYPE html>
<html>
  <head>
    <title><%= webDE.title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% include templates/header.ejs %>
    <% include templates/menu.ejs %>

    <h1><%= webDE.TITLE_UPLOAD %></h1>
    <form action="upload" method="post" enctype="multipart/form-data">
      <input type="file" name="filetoupload"><br>
      <input type="submit"></input>
    </form>
    <% include templates/footer.ejs %>
  </body>
</html>
